<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <blockquote><%= lorem %></blockquote>

    <form action="/users/login" method="POST">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" value="Major" />
      <label for="password">Pass</label>
      <input type="password" name="password" id="password" value="Tom" />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
